@import url("https://fonts.googleapis.com/css?family=Varela+Round");


html {
    box-sizing: border-box;
    color:white ;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.1px;

}

body,
html {
    width: 100%;
    height: 100%;
    background: #1c1d22;
    font-family: "Varela Round", sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    height: 100vh;
    list-style: none;
}

.menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;

    a {
        font-size: 22px;
        color: #777;
        text-decoration: none;
        transition: all 0.45s;
    }

    &:hover {
        background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
        animation: line 1s;
    }

    &:hover a {
        color: #d94f5c;
    }

    &:not(:last-child) {
        margin-right: 30px;
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}

/*FONTES*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;900&family=Roboto&display=swap");

/*---------------------*/

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*---------------------*/

/*HEADER*/

header {
  background: linear-gradient(
    0deg,
    rgba(51, 168, 219, 0) 0%,
    rgba(51, 168, 219, 0.2) 99.99%,
    rgba(51, 168, 219, 0.2) 100%
  );
}

/*IMAGENS*/

.logo {
  width: 248px;
  height: 228px;
  border-radius: 600px;
  background: rgba(0, 0, 0, 0.2);
  align-items: center;
}

.kin-tattoo {
  align-items: center;
}

/*---------------------*/

/*BANNER*/

.banner {
  padding-top: 9rem;
  object-fit: scale-down;
  background-image: url("imagens/banner.preto.png");
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: linear-gradient(
    180deg,
    rgba(51, 168, 219, 0) 0%,
    rgba(51, 168, 219, 0.2) 99.99%,
    rgba(51, 168, 219, 0.2) 100%
  );
  border-bottom: 1px solid #33a8db;
}

.banner-content h1 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background: linear-gradient(180deg, #33a8db 0%, #1472b7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #33a8db, #1472b7;
}

.banner-content p {
  color: #fff;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 497px;
}

button {
  color: #31a8dd;
  text-transform: uppercase;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3.36px;
  display: flex;
  width: 326px;
  padding: 19px 91px;
  justify-content: center;
  align-items: center;
  gap: 31px;
  border: 2px solid #3ba1cd;
  background-color: transparent;
  margin-bottom: 3rem;
}

/*---------------------*/

/*BODY*/

body {
  background-color: #050505;
  margin: 0;
}

/*---------------------*/

/*MAIN*/

main {
  background: #000;
}

.modules-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}


.module {
  font-family: "Raleway", sans-serif;
  display: flex;
  width: 535px;
  padding: 16px 127px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 57px;
  border: 1px solid #33a8db;
  background: #252525;
  box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.4) inset;
}

#course-content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#course-content h2 {
  padding-top: 2rem;
  color: #33a8db;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 6.08px;
  text-transform: uppercase;
}

#course-content p {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  
}
    

#course-content .modules-list .module span {
    color: #33A8DB;
}

#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7)
}

#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url(imagens/2.png);
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
}
    
    

section {
    margin: 100px auto;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#professional-challenges {
  display: flex;
  text-align: center;
  width: 800px;
}

#professional-challenges img {
  width: 1000px;
  height: 500px;
}
#professional-challenges h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

#professional-challenges p {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*----*/

/*FOOTER*/

footer {
    color: #fff;
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}